<h3>
<%= form_tag share_add_path(params[:id],  @symbol, symbol: @company, price: @price) do %>
  BUY <input type="text" name="buy" placeholder="Amount">
  <input type="submit" value="Buy">
<% end %>

<br>
</h3>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<h3>
  <% if @stock_in_portfolio_id.present? %>
    <%= form_tag portfolio_share_path(params[:id], @stock_in_portfolio_id), method: :delete do %>
      SELL <input type="text" name="sell" placeholder="Amount">
      <input type="submit" value="Sell">
    <% end %>
  <% end %>
<br>
</h3>


<h2>Share Information</h2>

<%= image_tag(@logo.url) %>
<br>
<br>
Company: <%= @company %>
<br>
<br>
Symbol: <%= @symbol %>
<br>
<br>
Last Price: $<%= @price %>
<br>
<br>
Market Cap:<%= number_to_currency(@market_cap) %>
<br>
<br>
52 Week High: $<%= @year_high %>
<br>
<br>
52 Week Low: $<%= @year_low %>
<br>
<br>
YTD Change(%): <%= @ytd_change %>
<br>




<!-- Chart.js practice  -->

<canvas id="myChart" width="80" height="80"></canvas>
<script>
var myJsDates = <%=raw @list_of_dates%>;
var myJsPrices = <%=raw @list_of_prices%>;
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: myJsDates,
        datasets: [{
            label: 'Share Price',
            data: myJsPrices,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: false
                }
            }]
        }
    }
});
</script>
