<h2>Share Information
  |
  <%= link_to "BUY", share_add_path(params[:id],  @symbol, symbol: @company) %>
  |
  <%= link_to "SELL", portfolio_share_path(params[:id], params[:symbol]), method: :delete  %>
</h2>


Company: <%= @company %>
<br>
Symbol: <%= @symbol %>
<br>
Last Price: $<%= @price %>
<br>
Market Cap:<%= number_to_currency(@market_cap) %>
<br>
52 Week High: $<%= @year_high %>
<br>
52 Week Low: $<%= @year_low %>
<br>
YTD Change(%): <%= @ytd_change %>
<br>
