<h3>
<%= form_tag share_add_path(params[:id],  @symbol, symbol: @company, price: @price) do %>
  BUY <input type="text" name="buy" placeholder="Amount">
  <input type="submit" value="Buy">
<% end %>
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
<br>
</h3>

<!-- This is broken, need to remake and send build logic with Quantity -->
<h2>Share Information
  <% if @stock_in_portfolio_id.present? %>
    <%= link_to "SELL", portfolio_share_path(params[:id], @stock_in_portfolio_id), method: :delete  %>
  <% end %>
</h2>


Company: <%= @company %>
<br>
Symbol: <%= @symbol %>
<br>
Last Price: $<%= @price %>
<br>
Market Cap:<%= number_to_currency(@market_cap) %>
<br>
52 Week High: $<%= @year_high %>
<br>
52 Week Low: $<%= @year_low %>
<br>
YTD Change(%): <%= @ytd_change %>
<br>
