<!DOCTYPE html>
<html>
  <head>
    <title>Project1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <h1>Stock Brokerage Firm</h1>

    <nav>
  <% if @current_user.present? %>
      Welcome, <%= @current_user.name %>!
      <%= link_to 'Logout', login_path, method: 'delete' %>
    <% else %>
      <%= link_to 'Login', login_path %>
    <% end %>
  </nav>
  <hr>

  <h3>
    <% if @current_user.present? %>
      Cash Balance: <%= number_to_currency(@current_user.funds) %>
    <% end %>
  </h3>


    <%= yield %>

    <br>
    <hr>
    <footer>&copy Stock Breaker Company</footer>
  </body>
</html>
